<a href="https://colab.research.google.com/github/LCaravaggio/AnalisisCuantitativoAvanzado/blob/main/Ejercicio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 2
## Cargar la base

Para este segundo ejercicio se usa una base de libros disponible en: https://www.kaggle.com/datasets/jealousleopard/goodreadsbooks

In [1]:
import pandas as pd
import numpy as np
     

import json
from google.colab import drive

!mkdir ~/.kaggle
!touch ~/.kaggle/kaggle.json

drive.mount('/content/drive', force_remount=True)
with open("/content/drive/My Drive/kaggle.json", 'r') as f:
    api_token= json.load(f)

with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d jealousleopard/goodreadsbooks

Mounted at /content/drive
Downloading goodreadsbooks.zip to /content
  0% 0.00/622k [00:00<?, ?B/s]
100% 622k/622k [00:00<00:00, 33.9MB/s]

In [2]:
# Extraigo todos los archivos que están en el .zip que acabamos de "bajar". 

import zipfile
import os

os.listdir()

for file in os.listdir():
    if file.endswith('.zip'):
      zip_ref = zipfile.ZipFile(file, 'r')
      zip_ref.extractall()
      zip_ref.close()

In [11]:
# Cargamos la base
df = pd.read_csv('/content/books.csv', on_bad_lines='skip')

In [13]:
df.head(2)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.

# Preguntas

Pregunta 1: ¿Cuántos libros hay en la base? 

Ayuda: la función len devuelve el largo de una lista o filas de una base. 

Otra manera sería con el método .shape

Como sea, el resultado debería ser 11123

Pregunta 2: ¿Cuál es el rating promedio? 

Ayuda: `df['average_rating'].mean()` devuelve el promedio de la columna en cuestión. También podría chequear que ese resultado conincida con el obtenido al hacer un "describe" de la base.

Pregunta 3: ¿Cuál es la editorial con más libros en la base? 

Ayuda: la respuesta es "Vintage". Una manera de saberlo es mediante `df['publisher'].value_counts()` ¿Pero de qué otras maneras se podría llegar al mismo resultado?

Pregunta 4: ¿Cómo es la distribución de la cantidad de páginas de los libros en la base? 

Ayuda: Podría hacerlo con seaborn

`sns.distplot(df['  num_pages'],bins = 40)`

Pregunta 5: ¿Existe una relación entre el número de páginas de un libro y su rating promedio? Muestre gráficamente y con una regresión lineal. 

Ayuda: El gráfico con seaborn se puede hacer con el siguiente código:
`sns.scatterplot(y='ratings_count',x='  num_pages',data=df)`

La regresión podría hacerse con statsmodels de la siguiente manera: 



```
import statsmodels.api as sm
df=df.dropna()
mod = sm.OLS(df['average_rating'], df['  num_pages'])
res = mod.fit()
print(res.summary())
```



También podría hacerse con sklearn. ¿Cómo?