<a href="https://colab.research.google.com/github/LCaravaggio/AnalisisCuantitativoAvanzado/blob/main/Operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/mjuez/pytsdatasets/master/pytsdatasets/data/airpassengers.csv')

In [3]:
data

           date  data
0    1949-01-01   112
1    1949-02-01   118
2    1949-03-01   132
3    1949-04-01   129
4    1949-05-01   121
..          ...   ...
139  1960-08-01   606
140  1960-09-01   508
141  1960-10-01   461
142  1960-11-01   390
143  1960-12-01   432

[144 rows x 2 columns]

In [4]:
data['L.data']=data['data'].shift()

In [5]:
data

           date  data  L.data
0    1949-01-01   112     NaN
1    1949-02-01   118   112.0
2    1949-03-01   132   118.0
3    1949-04-01   129   132.0
4    1949-05-01   121   129.0
..          ...   ...     ...
139  1960-08-01   606   622.0
140  1960-09-01   508   606.0
141  1960-10-01   461   508.0
142  1960-11-01   390   461.0
143  1960-12-01   432   390.0

[144 rows x 3 columns]

In [6]:
data['Diff.data']=data['data'].diff()

In [7]:
data

           date  data  L.data  Diff.data
0    1949-01-01   112     NaN        NaN
1    1949-02-01   118   112.0        6.0
2    1949-03-01   132   118.0       14.0
3    1949-04-01   129   132.0       -3.0
4    1949-05-01   121   129.0       -8.0
..          ...   ...     ...        ...
139  1960-08-01   606   622.0      -16.0
140  1960-09-01   508   606.0      -98.0
141  1960-10-01   461   508.0      -47.0
142  1960-11-01   390   461.0      -71.0
143  1960-12-01   432   390.0       42.0

[144 rows x 4 columns]

In [32]:
(432-390)/390*100

10.76923076923077

In [20]:
(data['data'][-1:]/data['data'].shift()[-1:]-1)*100

143    10.769231
Name: data, dtype: float64

In [33]:
import numpy as np
data['Log.data']=np.log(data['data'])